@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.none {
  display: none;
}
.none-tablet {
  display: none;
}
.hero-img-tbl {
  display: none;
}
.desktop-hero {
  display: none;
}
.none-desktop {
  display: none;
}
header {
  background-color: #648ef7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
  padding-inline: 16px;
  width: 100%;
}

section {
  padding-inline: 16px;
  width: 100%;
}

.hero-main {
  background-color: rgb(43, 99, 217);
  width: 100%;
}
.hero-img-mbl {
  margin-bottom: 32px;
  width: 100%;
  display: flex;
  justify-content: end;
  position: relative;
  right: -25px;
}
.hero-text {
  display: flex;
  flex-direction: column;
}
.hero-text h1 {
  color: #ffffff;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -2%;
  margin-bottom: 16px;
  width: 343px;
}
.hero-text p {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.1px;
  color: #b1ccfb;
  margin-bottom: 32px;
  width: 100%;
}

.hero-text button {
  background-color: #437ef7;
  display: inline-block;
  width: 100%;
  padding: 12px 129px;
  border: none;
  border-radius: 6px;
  margin-bottom: 32px;
  color: #ffffff;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
  width: 100%;
}
.supports h5 {
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: #ffffff;
  margin-bottom: 16px;
}

.icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-inline: 64px;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  width: 100%;
}

.messaging-for {
  margin-block: 32px;
}
.messaging-for h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
  color: #272d37;
  margin-bottom: 12px;
  text-align: center;
}
.messaging-for .for-oll {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #5f6d7e;
  margin-bottom: 32px;
}
.messaging-card {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.messaging-card .card-img {
  background-color: #437ef7;
  border-radius: 30px;
  padding: 8px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}
.messaging-card h4 {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -2%;
  color: #272d37;
  margin-bottom: 8px;
}

.messaging-card p {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #5f6d7e;
  margin-bottom: 16px;
}

.messaging-card span {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}
.messaging-card span a {
  text-decoration: none;
  color: #437ef7;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
}

.redefining {
  margin-block: 32px;
}

.redefining .redefining-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.redefining .redefining-text h3 {
  margin-top: 32px;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
  text-align: center;
  color: #272d37;
  margin-bottom: 12px;
}
.redefining .redefining-text p {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #5f6d7e;
  margin-bottom: 32px;
}
.redefining-mbl {
  margin-bottom: 32px;
}
.redefining-img img {
  width: 100%;
}

.redefining-card {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 32px;
}
.redefining-card img:nth-child(1) {
  width: 100%;
}

.card-text h4 {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -2%;
  color: #272d37;
  margin-bottom: 8px;
}

.card-text p {
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #5f6d7e;
  margin-bottom: 8px;
}

.card-text span {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.card-text span a {
  text-decoration: none;
  color: #437ef7;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
}

.dark {
  background-color: #151b28;
  padding-block: 32px;
}
.dark p {
  color: #ffffff;
}
.dark h4 {
  color: #ffffff;
}
.customers {
  margin-block: 32px;
}

.customers h3 {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
  text-align: center;
  color: #272d37;
  margin-bottom: 12px;
}
.customers p {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #5f6d7e;
  margin-bottom: 40px;
}
.lookscout {
  background-color: #f8f9fb;
  border-radius: 5px;
  padding: 16px;
}

.lookscout .company-logo {
  margin-bottom: 16px;
}
.lookscout p {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -2%;
  color: #272d37;
  margin-bottom: 16px;
  text-align: start;
}
.avatar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: start;
}
.avatar span h4 {
  padding-top: 15px;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1px;
  color: #272d37;
}
.avatar span p {
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: #5f6d7e;
}

.blog {
  margin-block: 32px;
}

.blog-text h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
  text-align: center;
  margin-bottom: 12px;
  color: #272d37;
}
.blog-text p {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #5f6d7e;
  margin-bottom: 24px;
}
.blog-card img {
  margin-bottom: 12px;
}

.blog-card h3 {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -2%;
  color: #272d37;
  margin-bottom: 16px;
}
.blog-card p {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #5f6d7e;
  margin-bottom: 24px;
}
.blog-avatar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-avatar {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.blog-avatar span h4 {
  padding-top: 15px;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1px;
  color: #272d37;
}
.blog-avatar span p {
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: #5f6d7e;
}
.date {
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-align: right;
  color: #5f6d7e;
}
.used {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.used-text {
  margin-block: 12px;
}
.used-text h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
  text-align: center;
  color: #272d37;
  margin-bottom: 12px;
}
.used-text p {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #5f6d7e;
  margin-bottom: 32px;
}
.used-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 32px;
}

.new-digital {
  margin-block: 32px !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.new-digital h5 {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: #437ef7;
  margin-bottom: 16px;
  text-align: center;
}
.new-digital h2 {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -2%;
  text-align: center;
  color: #272d37;
  margin-bottom: 16px;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.input-container input {
  padding: 12px;
  border: 1px solid #d1d9e6;
  border-radius: 6px;
}
.input-container button {
  background-color: #437ef7;
  padding-inline: 145px;
  padding-block: 12px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 16px;
}

.secured {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-inline: 22px;
}
.secured-card {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
}
footer {
  padding-inline: 16px;
  background-color: #151b28;
  padding-top: 32px;
}
.footer-logo img {
  margin-bottom: 16px;
}
.footer-logo p {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #a5acba;
  margin-bottom: 24px;
}
.links {
  display: flex;
  flex-direction: row;
  gap: 64px;
  margin-bottom: 24px;
}
.footer-link {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-link h5 {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #f9f9f9;
  margin-bottom: 10px;
}
.footer-link a {
  text-decoration: none;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #a5acba;
}
.footer-notification h5 {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #f9f9f9;
  margin-bottom: 12px;
}

.footer-notification p {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #a5acba;
  margin-bottom: 16px;
}
.input-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  width: 100%;
}
.input-content input {
  height: 46px;
  width: 266px;
  gap: 8px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border-width: 1px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #2c3444;

  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1px;
  color: #a5acba;
  width: 100%;
}
.input-content button {
  height: 46px;
  width: 80px;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #437ef7;

  font-weight: 600;
  font-style: Semi Bold;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #ffffff;
  width: 100%;
}
.border {
  border-top: 1px solid #2c3444;
  margin-bottom: 16px;
}
.footer-bottom {
  display: flex;
  flex-direction: column;
}
.footer-bottom p {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-align: start;
  color: #5f6d7e;
  margin-bottom: 24px;
}

.footer-logos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
  margin-bottom: 32px;
}

@media (width>=768px) {
  .hero-main {
    padding-inline: 48px;
  }
  .hero-img-mbl {
    display: none;
  }
  .none-desktop {
    display: none;
  }
  .hero-img-tbl {
    display: block;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
    right: -55px;
  }
  .hero-text h1 {
    width: 522px;
    height: 120px;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 52px;
    line-height: 60px;
    letter-spacing: -1%;
  }
  .hero-text button {
    width: 121px;
    padding: 12px 18px;
    margin-bottom: 80px;
  }
  .supports .icons {
    display: flex;
    justify-content: start;
    align-items: start;
    padding-left: 0;
  }
  .messaging-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
  .redefining-mbl {
    display: none;
  }
  .none-tablet {
    display: block;
    margin-bottom: 48px;
  }
  .redefining-card p {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
  }
  .customers {
    margin-bottom: 85px;
  }
  .tbl-none-blog-card {
    display: none;
  }
  .blog-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    width: 100%;
  }
  .blog-card-img {
    width: 100%;
  }
  .blog-card h3 {
    width: 100%;
  }
  .blog-avatar-container {
    margin-inline: 20px;
  }
  .used-text {
    width: 704px;
    height: 104px;
    gap: 12px;
    opacity: 1;
  }
  .used-text h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -2%;
    text-align: center;
  }
  .used-text p {
    margin-bottom: 40px;
  }
  .used-logos {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  .new-digital h2 {
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -1%;
    text-align: center;
  }
  .input-container {
    display: flex;
    flex-direction: row;
    gap: 0px;
    width: 100%;
    justify-content: center;
    margin-bottom: 32px;
  }
  .input-container input {
    width: 424px;
    height: 46px;
    gap: 8px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    border-width: 1px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .input-container button {
    width: 88px;
    height: 46px;
    gap: 6px;
    opacity: 1;
    padding-top: 12px;
    padding-right: 18px;
    padding-bottom: 12px;
    padding-left: 18px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .secured {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
  }

  .footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-bottom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .input-content input {
    position: relative;
    left: -15px;
  }
  .input-content button {
    position: relative;
    left: -15px;
  }
  .desktop-hero {
    display: none;
  }
}

@media (width>=1440px) {
  .none {
    display: block;
  }
  .mbl-logo {
    display: none;
  }
  .hamburger-icon {
    display: none;
  }
  .hero-img-mbl {
    display: none;
  }
  .hero-img-tbl {
    display: none;
  }
  .none-tablet {
    display: none;
  }
  .none-desktop {
    display: block;
  }
  .none-tablet {
    display: none;
  }
  .redefining-mbl {
    display: none;
  }
  header {
    padding: 20px 112px;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
  .nav-links a {
    display: block;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #ffffff;
    text-decoration: none;
  }
  .down-icon {
    position: relative;
    left: -25px;
  }
  .header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .header-left a {
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0px;
    text-decoration: none;
    color: #ffffff;
  }
  .header-left button {
    background-color: #437ef7;

    gap: 6px;
    opacity: 1;
    padding-top: 12px;
    padding-right: 18px;
    padding-bottom: 12px;
    padding-left: 18px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #ffffff;
  }

  .hero-main {
    padding-inline: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
  .hero-text {
    padding-inline: 32px;
  }
  .hero-text p {
    width: 100%;
  }
  .desktop-hero {
    display: block;
  }
  .supports {
    padding-left: 32px;
    position: relative;
    top: -125px;
  }
  .messaging-for {
    margin-top: 95px;
    padding-inline: 80px;
  }
  .messaging-text {
    margin-bottom: 64px;
  }
  .redefining {
    width: 100%;
    padding-inline: 80px;
  }

  .desktop-redefining {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 64px;
    gap: 24px;
  }

  .cardss {
    display: flex;
    flex-direction: column;
    padding-top: 68px;
    max-width: 532px;
  }
  .redefining-text p {
    max-width: 800px;
  }
  .desktop-redefining2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 64px;
    gap: 24px;
    padding-block: 64px;
  }
  .desktop-none {
    display: none;
  }
  .customers {
    padding-inline: 80px;
    width: 100%;
  }
  .lookscout {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .company-logo {
    padding-block: 32px;
  }
  .lookscout p {
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -1%;
    text-align: center;
    max-width: 884px;
  }

  .tbl-none-blog-card {
    display: block;
  }
  .blog-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .blog-text h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -2%;
    text-align: center;
  }
  .blog-text p {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    text-align: center;
    max-width: 800px;
    margin-bottom: 64px;
  }
  .blog {
    width: 100%;
    padding-inline: 80px;
  }
  .blog-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;

    margin-bottom: 128px;
  }

  .blog-card img {
    width: 100%;
  }

  .used-text h1 {
    margin-bottom: 16px;
  }
  .used-text p {
    margin-bottom: 64px;
  }
  .used-logos {
    margin-top: 64px;
  }
  .new-digital h2 {
    max-width: 762px;
    margin-bottom: 32px;
  }

  footer {
    padding-inline: 80px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-around;
  }
}
